<!DOCTYPE html>
<head>
    <title>Principia Budgeting Tool | ISPASO</title>
    <link rel='stylesheet' href='/styles/form.css'></link>
    <script src="/dependencies/vue3.global.js"></script>
</head>

<body>
    <div id='app'>
      <h1>Prinbill Budgeting Tool</h1>
      <p>By ISPASO</p>

      <form @submit.prevent='save(1)'>
        <fieldset>
          <legend>Hi. Nice to meet you</legend>
          <p>What academic periods are you budgeting for?</p>
          <div v-for = '(session, key) in academicSessions'>
            <label>
              <input type='radio' :value='key' v-model='academicSession'
                @click='semesterArr = Object.keys(session).map(a => a)'/>

              20{{ key.substring(0,2) }} - 20{{ key.substring(3) }}

              <div v-if='academicSession == key'>
                <label v-for='(period, name) in session' style='padding-left: 2rem'>
                  <input type='checkbox' :value='name' v-model='semesterArr' />
                  {{ period.name }}
                </label>
              </div>
            </label>
          </div>

          <!--
          <p>Academic Session: {{ academicSession }}</p>
          <p>Semesters: {{ semesters }}</p>
          <p>Semesters: {{ semesterArr }}</p>
          -->
        </fieldset>

        <fieldset>
          <legend>Income</legend>
          <label>Financial Aid: <input type = 'number' v-model='finAid' placeholder = '$xx,xxx.xx' /></label>

          <h4>Student Employment</h4>
          <div v-for='sem in semesters'>
            <h6>{{ sem.name }}</h6>
            <label>How many hours per week will you be working on campus during {{ sem.name }}
              <input type='number' placeholder='12.5' step='0.1' v-model='sem.hoursPerWeek' />
            </label>

            <label>Estimate your hourly wage in this session
              <input type='number' placeholder='20' step='0.1' v-model='sem.hourlyWage'/>
            </label>
          </div>

          <div v-for='h in holidayWork'>
            <h6>{{ h.name }}</h6>

            <label>
              How many hours per week will you be working on campus during {{h.name}}?
              <input class='block' type='number' v-model='h.hoursPerWeek' /> 
            </label>

            <label>
              How many weeks will you work on campus during {{h.name}}?
              <input class='block' type='text' v-model='h.weeksAvailable' />
              <span @click='h.weeksAvailable = "100%"'>Max: {{ formatTime(h.maxWeeks, 'weeks') }}</span>
            </label>
          </div>

          <h6>Other Income Sources</h6>
          <label v-for='(extra, i) in extraIncome' :key='i'>
            <input type='text' placeholder='Short description' v-model='extra.name' />
            <input type='number' placeholder='$x,xxx' v-model='extra.amount' />
            <input type='date' v-model='extra.date' />
            <button type='button' @click='extraIncome.splice(i, 1)'>Delete</button>
          </label>

          <button type='button' @click='addExtraIncome'>Add Extra Income</button>

          <p><button type='button' @click='showAdvancedIncome = !showAdvancedIncome'><span v-if='showAdvancedIncome'>Hide</span><span v-else>Show</span> Advanced</button></p>

          <fieldset v-if='showAdvancedIncome'>
            <legend>Advanced</legend>
            <label>Income Tax: <input type='number' v-model='incomeTax' /></label>
          </fieldset>
        </fieldset>

        <fieldset>
          <legend>Expenditure</legend>
          </p>For now, we're going to focus on your PrinBill. You can add other expenditures later. This section is to calculate your PrinBill</p>

          <h6>Insurance</h6>
          <label>Did you waive your insurance?</label>
          <label><input type='radio' value=1 v-model='waivedInsurance' />Yes</label>
          <label><input type='radio' value=0 v-model='waivedInsurance' />No</label>

          <h6>Other Expenses</h6>
          <h6>Break Housing</h6>
          <div v-for='holiday in breakHousing'>
            <!--
            {{ holiday }}
            -->
            <label>
              <span style='display:block'>
                How many nights will you be staying in break housing during {{ holiday.name }}
              </span>
              <input type='number' v-model='holiday.nights' :max='holiday.maxNights' />
              <span @click='holiday.nights = holiday.maxNights'>Max: {{ formatTime(holiday.maxNights, 'nights') }}</span>
            </label>
          </div>

          <h6>Course Fees</h6>
          <p>Do you have any courses that have fees attached?</p>
          <input type='number' placeholder='$XXX' />

          <h6>Extra expenses</h6>
          <p>Enter any extra expenses</p>
          <label v-for='(extra, i) in extraExpenditure' :key='i'>
            <input type='text' placeholder='Short description' v-model='extra.name' />
            <input type='number' placeholder='$x,xxx' v-model='extra.amount' />
            <input type='date' v-model='extra.date' />
            <button type='button' @click='extraExpenditure.splice(i, 1)'>Delete</button>
          </label>

          <button type='button' @click='addExtraExpenditure'>Add Extra Expense</button>

          <button>Save</button>

          <a href='./results' target='_blank'>View Results</a>
        </fieldset>
      </form>
    </div>

    <script type='module'>
        import countries from './utils/countries.js';
        import defaultHolidayWork from '/utils/holidays.js';
        import store from './store/index.js';
        import { sessions as academicSessions } from '/utils/semesters.js';
        import { formatTime } from '/utils/index.js';

        const app = Vue.createApp({
            data() {
                return {
                    academicSessions,
                    academicSession: null,
                    semesters: {},
                    semesterArr: [],

                    gradYears: [],
                    gradMonth: null,
                    gradYear: null,

                    // INCOME
                    finAid: null,
                    hourlyWage: null,
                    sessionHours: null,
                    breakHours: null,
                    holidayWork: {},
                    extraIncome: null,
                    extraExpenditure: null,

                    // EXPENDITURE
                    breakHousing: null,
                    incomeTax: null,
                    showAdvancedIncome: false,
                    waivedInsurance: null,
                    cocz: null,
                    countries: countries,
                    birthdate: null,
                    ageBracket: null,
                    noDOB: false,
                    maxDOB: null
                }
            },

            watch: {
              academicSession(newVal) {
                store.save('academicSession', newVal);
                this.holidayWork = store.get('holidayWork');
              },
              semesters(newVal) {
                store.save('semesters', newVal);
                this.holidayWork = store.get('holidayWork');
              },
            },

            methods: {
              formatTime,
              addExtraIncome() {
                  var today = new Date().toISOString().slice(0, 10);

                  this.extraIncome.push({
                      name: null, date: today, amount: null
                  });
              },
              addExtraExpenditure() {
                  var today = new Date().toISOString().slice(0, 10);

                  this.extraExpenditure.push({
                      name: null, date: today, amount: null
                  });
              },
              save(level) {
                const {
                  gradDate, finAid, ageBracket,
                  sessionHours, breakHours, 
                  hourlyWage, incomeTax,
                  birthdate, extraExpenditure, extraIncome,
                  academicSession, semesters,
                  breakHousing,
                } = this;

                store.save({
                  birthdate,
                  extraIncome, extraExpenditure,
                  gradDate, finAid, ageBracket,
                  sessionHoursPerWeek: sessionHours,
                  hourlyWage, incomeTax,
                  academicSession, semesters,
                  breakHousing,
                });

                if(this.noDOB)
                    store.save('birthdate', null);

                return false;
              },

              fetchHolidaysFromStore() {
                  this.holidayWork = store.get('holidayWork');
                  this.breakHousing = store.get('breakHousing');
              },
            },

            mounted() {
              this.fetchHolidaysFromStore();

              this.finAid = store.get("finAid");
              this.extraIncome = store.get("extraIncome");
              this.extraExpenditure = store.get("extraExpenditure");
              this.hourlyWage = store.get("hourlyWage");
              // this.birthdate = store.get("birthdate");

              this.sessionHours = store.get("sessionHoursPerWeek");
              this.incomeTax = store.get("incomeTax");
              this.academicSession = store.get("academicSession");
              this.semesters = store.get("semesters");
              this.semesterArr = store.get("semesterArr");

              this.breakHousing = store.get('breakHousing');
            }
        });

        app.use(store);
        app.mount('#app');
    </script>
</body>
</html>

