<!DOCTYPE html>
<head>
    <title>Principia Budgeting Tool | ISPASO</title>
    <link rel='stylesheet' href='income_form.css'></link>
    <script src="vue3.global.js"></script>
    <script src='vuex4.js'></script>
</head>

<body>
    <div id='app'>
        <h1>Prinbill Budgeting Tool</h1>
        <p>By ISPASO</p>

        <form @submit.prevent='save(1)'>
            <fieldset>
                <legend>Hi. Nice to meet you</legend>
                <p>What academic period are you budgeting for?</p>

                    <label>Start</label>
                    <select v-model='startSemester'>
                        <option value='fall'>Fall</option>
                        <option value='spring'>Spring</option>
                    </select>
                    <select v-model='startYear'>
                        <option v-for='year in budgetYears'>{{ year }}</option>
                    </select>

                    <label>End Period</label>
                    <select v-model='endSemester'>
                        <option value='fall' selected>Fall</option>
                        <option value='spring'>Spring</option>
                    </select>
                    <select v-model='endYear'>
                        <option v-for='year in budgetYears'>{{ year }}</option>
                    </select>
            </fieldset>

            <fieldset>
                <legend>Income</legend>
                <label>Financial Aid: <input type = 'number' v-model='finAid' placeholder = '$xx,xxx.xx' /></label>

                <fieldset>
                    <legend>Student Employment</legend>
                    <label>Projected Weekly Hours
                        <input type='number' placeholder='20' v-model='wkHours'/>
                        Projected weekly earnings: ${{wkEarnings}} <span>(Income tax subtracted: {{ incomeTax }}%)</span>
                    </label>
                    <a @click='showIncomeTaxInput = !showIncomeTaxInput'>Edit</a>
                    <label v-if='showIncomeTaxInput'>Income Tax: <input type='number' v-model='incomeTax' /></label>
                </fieldset>

                <label>Other Sources</label>
                <input type='number' />
                <p v-if='pIncome'>Projected Income at the End of Semester = <span>${{ pIncome }}</span></p>
            </fieldset>

            <fieldset>
                <legend>Expenditure</legend>
                </p>For now, we're going to focus on your PrinBill. You can add other expenditures later. This section is to calculate your PrinBill</p>

                <p>Running Total = ${{ totalExpenditure }}</p>
                <fieldset>
                    <legend>Tuition</legend>
                    <label>When do you expect to graduate?</label>
                    <select v-model='gradMonth'>
                        <option value='7' selected>August</option>
                        <option value='11'>December</option>
                    </select>
                    <select v-model='gradYear'>
                        <option v-for='year in gradYears'>{{ year }}</option>
                    </select>
                </fieldset>

                <fieldset>
                    <legend>Tax</legend>
                    <label>
                        Have you been in the US for at least 5 years?

                        <label><input type='radio' value=1 v-model='isResident' />Yes</label>
                        <label><input type='radio' value=0 v-model='isResident' />No</label>
                    </label>

                    <div v-if='isResident == 0'>
                        <label>Country of Citizenship</label>
                        <select v-model='cocz'>
                            <option v-for='country in countries' :value='country.code'>{{ country.name }}</option>
                        </select>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Insurance</legend>
                    <label>Did you waive your insurance?</label>
                    <label><input type='radio' value=1 v-model='waivedInsurance' />Yes</label>
                    <label><input type='radio' value=0 v-model='waivedInsurance' />No</label>

                    <p>Age</p>
                    <label>Date of Birth
                        <input type='date' :max='maxDOB' v-model='birthdate'>
                    </label>
                    <label>I don't want to enter my date of birth <input type='checkbox' v-model='noDOB' /></label>

                    <div v-if='noDOB'>
                        <p>Choose the bracket you fall in.</p>
                        <label><input type='radio' name='ageBracket' /> Under 25</label>
                        <label><input type='radio' name='ageBracket' /> 25 - 29</label>
                        <label><input type='radio' name='ageBracket' /> 30+</label>
                    </div>
                </fieldset>

                <p>In total, you will be paying ${{ netExpenses }}</p>

                <input type='submit' value='Next' />
            </fieldset>
        </form>
    </div>

    <script type='module'>
        // cocz = city of citenzenship
        import { totalExpenditure } from './expenditure';
        import countries from './countries.js';
        import store from './store/index.js';

        const app = Vue.createApp({
            data() {
                return {
                    budgetYears: [],
                    startMonth: null,
                    startYear: null,
                    endMonth: null,
                    endYear: null,

                    finAid: null,
                    showIncomeTaxInput: false,
                    incomeTax: 30,
                    wkHours: null,

                    gradYears: [],
                    gradMonth: null,
                    gradYear: null,

                    waivedInsurance: null,
                    isResident: null,
                    cocz: null,
                    countries: countries,
                    age: null,
                    noDOB: 'notset',
                    maxDOB: null
                }
            },

            methods: {
                save(level) {
                    store.commit('finAid', this.finAid);
                    store.commit('gradDate', this.gradDate);
                    store.commit('startDate', this.startDate);
                    store.commit('birthdate', this.birthdate);

                    store.dispatch('save');
                    return false;
                }
            },

            computed: {
                startYears: function() {
                    let maxYear = this.gradYear;

                    if(this.startMonth >= this.gradMonth)
                        maxYear = this.gradYear - 1;

                    const years = []

                    for (let i=0; i <= 10; i++) {
                        years.push(maxYear - i)
                    }

                    return years;
                },

                startDate: function() {
                    return {
                        month: this.startMonth,
                        year: this.startYear
                    }
                },
                gradDate: function() {
                    return {
                        month: this.gradMonth,
                        year: this.gradYear
                    }
                },
                totalExpenditure: function() {
                    const insurance = {
                        waived: this.waivedInsurance,
                        isResident: this.isResident,
                        cocz: this.cocz
                    }

                    return totalExpenditure(this.gradDate, insurance, this.age);
                },
                prinBill: function() {
                    const insurance = {
                        waived: this.waivedInsurance,
                        isResident: this.isREsident,
                        cocz: this.cocz
                    }

                    return calulatePrinbill(this.gradDate, insurance, age)
                },
                netExpenses: function() {
                    let net = this.totalExpenditure - this.finAid;
                    return net;
                },
                pIncome() {
                    const wkEarnings = this.wkEarnings;

                    if(wkEarnings)
                        return wkEarnings * 15
                    else
                        return null
                },
                wkEarnings() {
                    const wkHours = this.wkHours
                    if(wkHours) 
                        return (wkHours * 12.5) * (100 - this.incomeTax)/100
                    else return null
                }
            },
            mounted() {
                store.dispatch('loadState');
                const now = new Date();
                const currentYear = now.getFullYear()

                this.budgetYears = [currentYear, currentYear + 1];
                this.startSemester = 'spring';
                this.endSemester = 'fall';
                this.startYear = currentYear;
                this.endYear = currentYear + 1;

                this.maxDOB = new Date(new Date().setYear(currentYear - 15)).toISOString().split('T')[0];

                this.gradYear = currentYear + 1;
                this.gradMonth = 7
                this.startMonth = 7

                const gradYears = []
                
                for (let i=0; i <= 10; i++) {
                    gradYears.push(currentYear + i)
                }
                this.gradYears = gradYears
            }
        });

        app.use(store);
        app.mount('#app');
    </script>
</body>
</html>

