table {
    border-collapse: collapse;
}
table thead th {
    column-span: 2;
}
table td {
    border: 1px solid black;
}

th.positive, td.positive {
    color: green;
}
th.negative, td.negative {
    color: red;
}
